* {
	box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

.icon-container {
    width:150px;
    height: 150px;
    margin:0 auto;
    line-height: 150px;
    font-size: 60px;
    box-shadow: -2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 100%;
    color:#56accb;
}
.icon-steps {
    width:50px;
    height:50px;
    margin:0;
    line-height: 50px;
    font-size: 30px;
    border-radius: 100%;
    background: #56accb;
    color:#fff;
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------HEADER*/

.fondo {
    background: url(../image/large.jpg) no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 600px;
}
header {
    background: rgba(66, 66, 87, 0.73);
    height: 100%;
    color: #fff;
}

header .img-responsive {
    margin-top: 30px;
}
header .icon-menu {
    display: none;
}
header nav {
    float:right;
    margin-top:30px;
}
header nav li {
    padding: 10px;
}
header nav li:hover {
    color: black;
    background-color: white;
    border-radius: 100%;
}
header nav a {
    font-size: 15px;
    color:#fff;
    padding: 10px;
}
header .frase {
    width: auto;
}
header nav a:hover {
    text-decoration: none;
    color:black;
}
.frase {
    height: 375px;
    margin:120px auto;
    display: table;
}
.frase h2 {
    margin:0;
    font-size: 37px;
    padding: 0% 15%;
    display: table-cell;
}
.banner {
    background-color: rgba(47, 110, 173, 0.9);
    height: 140px;
    margin-top: -235px;
    padding-top: 10px;
}
.banner h3 {
    font-size: 26px;
}
header .banner button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 26px;
}

/*------------------------------------------------------------------------------------------------------SERVICES*/
.services h3 {
    color:#56accb;
    font-size:30px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.services h5 {
    color:#56accb;
    font-size: 20px;
    margin:35px 80px;
}
.services .space {
    position: relative;
    bottom: -20px;
}
/*------------------------------------------------------------------------------------------------------EJEMPLO*/
.ejemplo{
	border-top: 1px solid #F4F4F4;
	padding: 8% 6% 6%;
}
.title{
	text-align: center;
	margin-bottom: 3%;
}
.ejemplo p{
	margin-bottom: 0;
	line-height: 25px;
}
.ejemplo a{
	font-size: 0.9em;
}
.logo{
	width: 280px;
	display: inline-block;
	padding-bottom: 2.5%;
}
.ejemplo h1, .usar h1{
	color: #73A9FF;
	display: inline;
}
.ejemplo .arrow{
	display: block;
	margin: auto;
}

/*-------------------------------------------------ADQUIRIR*/
.adquirir{
	border-top: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4;
}
.work{
	background-image: url("../image/sec-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
}
.adquirir h2{
	padding: 3% 8%;
}
.opaco{
	background-color: rgba(63, 78, 91, 0.66);
	height: 100%;
}
.texto{
	padding: 3% 8%;
	line-height: 28px;
}
.texto p{
	margin-bottom: 0;
	font-size: 1.1em;
}
.texto p:nth-child(2){
	color: #73A9FF;
	font-size: 1.5em;
	margin-bottom: 6px;
}
.texto ul{
	padding-left: 15px;
}
.flecha{
	bottom: 55px;
}
.icon{
	position: absolute;
	font-size: 2.3em;
	color: white;
	display: block;
	border-radius: 50%;
	background-color: #50BDEA;
	padding: 2%;
	right: 96%;
}
.texto a.icon:nth-child(3){
	margin: 0;
}
.uno{
	margin: 6% 0%;
}
.flecha{
	position: relative;
	left: 46%;
}
-----------------------------------------------------------------------------------------------------WHY*/
.why ul{
	margin: 3% 0%;
	line-height: 26px;
}
.why p{
	line-height: 24px;
}
.why{
	padding: 0% 4%;
}
.why h1 {
    color: #73A9FF;
	display: inline;
}
.why span {
     color:#6CACDC;
}
.banner-2 {
    background-color: rgba(47, 110, 173, 0.9);
    margin-top: 50px;
    height: 110px;
    color:#fff;
    width: 100%;
}
.banner-2 h3 {
    font-size: 26px;
}
.banner-2 h3, .banner-2 p {
    position: relative;
    left: 30px;
    width:270px;
}
.banner-2 button {
    border:1px solid #fff;
    padding:5px 5px;
    background-color: rgba(47, 110, 173, 0.9);
    position: relative;
    top:30px;
    left:180px;
    width: 170px;
    font-size: 20px;
    border-radius: 5px;
}

/*------------------------------------------------------------------------------------------------------FOOTER*/
footer {
    background: #262834;
    color:#fff;
    padding:20px 0;
}
footer .telef {
    margin-top: 10px;
}
footer .icon-footer {
    display: inline-block;
    float: right;
    color:#4ea8e0;
    font-size: 30px;
    margin: 10px;
}
footer .copy {
    float: right;
}