@media screen and (max-width: 1000px) {
    header .icon-menu {
        display: inline-block;
        float: right;
        font-size: 30px;
    }
    header nav {
        display: none;
    }
    header .banner {
        height: 170px;
    }
    .banner-2 button {
        display: none;
    }
    .banner .col-md-4 {
        display: block;
        text-align: center;
    }
    .n-zero h5, .n-zero p {
        transform: translateY(20px);
    }
    .n-two p {
        transform: translateY(-20px);
    }
    .texto {
        transform: translateX(14px) translateY(-20px);
        width: auto;
    }
    
}
@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
    header .banner {
        height: 150px;
        transform: translatey(15px);
    }
    header .frase {
        margin-top: 100px;
    }
    .services h3 {
        transform: translateY(-30px);
    }
    .services .n-one {
        transform: translateY(-40px);
    }
    .n-zero h5, .n-zero p {
        transform: translateY(-40px);
    }
    .adquirir .work {
        display:none;
    }
    .banner-2 {
        text-align: center;
    }
    
